__pycache__/
.cache/
venv/
venv*/
.venv/
.venv*/
test/
test*/

.ipynb_checkpoints/
*.ipynb_backup

.env

logs/
*.log
*.log.*

*.sql

*.pyc

*.vscode
/_container_data/downloader_general/news
/_container_data/downloader_general/.download_completed

.claude/

*.aux
*.fls
*.out
*.toc
*.gz
*.fdb_latexmk

*.bkp
