POSTGRES_USER=main
POSTGRES_PASSWORD=password
POSTGRES_DB=postgres

POSTGRES_LLM_USER=llm_username
POSTGRES_LLM_PASSWORD=llm_password

QDRANT__SERVICE__API_KEY=some_api_key

OPENAI_API_KEY=some_api_key
